In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pulp

## Reading in the datasets saved with the latest forecast model

In [3]:
#forecast month
fm = pd.read_csv('test.csv')
pd.DataFrame.head(fm)

,Unnamed: 0,store_nbr,class,year,date,month_year,city,V1,family,sum_unit_sales.x,...,tran_on_wknd,base_prediction,base_residuals,dow,RT4_predictions,MR_predictions,base_residuals_tran,base_residuals_log,RT4_residuals,perc_on_prom
0,1,1,1002,2017,2017-07-01,201707,Quito,12244072,GROCERY I,31.0,...,0.172886,2.308426,0.509756,Saturday,3.375603,NaN,865.509756,6.763319,-0.557421,0.0
1,2,1,1002,2017,2017-07-02,201707,Quito,12256731,GROCERY I,16.0,...,0.172886,2.308426,-0.530648,Sunday,3.375603,NaN,864.469352,6.762116,-1.597825,0.0
2,3,1,1002,2017,2017-07-03,201707,Quito,12269201,GROCERY I,16.0,...,0.172886,2.308426,-0.530648,Monday,1.375843,NaN,864.469352,6.762116,0.244965,0.0
3,4,1,1002,2017,2017-07-04,201707,Quito,12281198,GROCERY I,18.0,...,0.172886,2.308426,-0.508426,Tuesday,1.375843,NaN,864.491574,6.762142,0.267187,0.0
4,5,1,1002,2017,2017-07-05,201707,Quito,12293172,GROCERY I,27.0,...,0.172886,2.308426,0.391574,Wednesday,1.375843,NaN,865.391574,6.763182,1.167187,0.2

In [4]:
#last available data month
cm = pd.read_csv('last_month.csv')
pd.DataFrame.head(cm)

,Unnamed: 0,store_nbr,year,date,month_year,city,V1,class,family,sum_unit_sales.x,...,dcoilwtico.y,sum_unit_sales.y,day_of_month,wage_factor,month,no_items.y,transactions.y,is_weekday,tran_on_wknd,dow
0,1,1,2017,2017-05-01,201705,Quito,11512880,1002,GROCERY I,19.0,...,48.574355,26911839.25,1,0.857143,5,2295,339992,0,0.172886,Monday
1,2,1,2017,2017-05-02,201705,Quito,11525435,1002,GROCERY I,39.0,...,48.574355,26911839.25,2,0.714286,5,2295,339992,0,0.172886,Tuesday
2,3,1,2017,2017-05-03,201705,Quito,11537442,1002,GROCERY I,41.0,...,48.574355,26911839.25,3,0.571429,5,2295,339992,0,0.172886,Wednesday
3,4,1,2017,2017-05-04,201705,Quito,11549415,1002,GROCERY I,27.0,...,48.574355,26911839.25,4,0.428571,5,2295,339992,0,0.172886,Thursday
4,5,1,2017,2017-05-05,201705,Quito,11561265,1002,GROCERY I,21.0,...,48.574355,26911839.25,5,0.285714,5,2295,339992,0,0.172886,Friday

In [11]:
#items
items = pd.read_csv('items.csv')
pd.DataFrame.head(items)

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [14]:
#store features
store_features = pd.read_csv('store_features_year.csv')
pd.DataFrame.head(store_features)

,Unnamed: 0,store_nbr,year,no_items,transactions,is_weekday,tran_on_wknd,lat,long
0,0,1,2014,3144.0,422777.0,0,0.165558,-0.173986,-78.469864
1,1,1,2015,2058.0,558606.0,0,0.169918,-0.173986,-78.469864
2,2,1,2016,4148.0,544262.0,0,0.173407,-0.173986,-78.469864
3,3,1,2017,2295.0,339992.0,0,0.172886,-0.173986,-78.469864
4,4,10,2014,2334.0,290499.0,0,0.308297,-0.173986,-78.469864

## Data Transformation

We need to get the data into a format that we can work with for an optimization algorithm. 

### 1) Objective function

Our objective is to maximize sales by adding in products in the classes that have a high sales_per_unit.

We currently have forecasts of sales per unit as store-class-date for a month. We need to sum these up so that we can get the sales per unit for a store-class at a month level.

In [9]:
group=fm.groupby(['store_nbr','class'],as_index=False)
fm_agg=pd.DataFrame(group['RT4_predictions'].agg('sum'))
pd.DataFrame.head(fm_agg)
fm_agg.columns=['store_nbr', 'class', 'sales_per_unit_m']
pd.DataFrame.head(fm_agg)

   store_nbr  class  sales_per_unit_m
0          1   1002         62.648735
1          1   1003         90.686116
2          1   1004        139.927814
3          1   1006         33.001366
4          1   1008         61.744868

In [10]:
group=cm.groupby(['store_nbr','class'],as_index=False)
cm_agg=pd.DataFrame(group['sales_per_unit'].agg('sum'))
cm_agg.columns=['store_nbr', 'class', 'sales_per_unit_m']
pd.DataFrame.head(cm_agg)

   store_nbr  class  sales_per_unit_m
0          1   1002         70.038933
1          1   1003         66.000000
2          1   1004        159.848417
3          1   1006         56.500000
4          1   1008         72.708333

We want the optimization algorithm to tell us how many unique products we should have in each class for each store so that we maximize sales. 

In our case, the coefficients of our objective function will be sales_per_unit_m.

### 2) Our constraints

Out first contraint is how many unique products we have in each class. We will calculate these from the 'items' file.

In [13]:
class_items=pd.DataFrame(items['class'].value_counts())
class_items.columns=['max_range']
class_items['class']=class_items.index
pd.DataFrame.head(class_items)

      max_range  class
1016        133   1016
1040        110   1040
1124        100   1124
1034         98   1034
1122         81   1122

Our second contraint is how many unique products we can have in a store. We will use the current year's max from the store features table built at the feature building stage.

In [24]:
# if our forecast month is January or February, we will take the previous year's values. 
m=fm['month'].unique()
if m in [1,2]:
    cyear=fm['year'].unique()-1
else:
    cyear=fm['year'].unique()
print(cyear)

[2017]

In [30]:
store_items=store_features[store_features.year == 2017]
pd.DataFrame.head(store_items)

,Unnamed: 0,store_nbr,year,no_items,transactions,is_weekday,tran_on_wknd,lat,long
3,3,1,2017,2295.0,339992.0,0,0.172886,-0.173986,-78.469864
7,7,10,2017,1610.0,195798.0,0,0.311428,-0.173986,-78.469864
11,11,11,2017,2354.0,525441.0,0,0.313381,0.039332,-78.145870
15,15,12,2017,1752.0,270026.0,0,0.300441,-0.932321,-78.617025
19,19,13,2017,1656.0,200155.0,0,0.320557,-0.932321,-78.617025

In [34]:
store_items=store_items[['store_nbr','no_items']]
pd.DataFrame.head(store_items)

    store_nbr  no_items
3           1    2295.0
7          10    1610.0
11         11    2354.0
15         12    1752.0
19         13    1656.0

## Optimization - LP

LP optimization algorithms are typically used in allocation problems, therefore I am going to use it too in a loop for each store. But let's see how it works for a store first.

We need to make sure that all the dataframes follow the same order

In [56]:
fm_agg = fm_agg.sort_values(by=["store_nbr","class"])
pd.DataFrame.head(fm_agg)

   store_nbr  class  sales_per_unit_m
0          1   1002         62.648735
1          1   1003         90.686116
2          1   1004        139.927814
3          1   1006         33.001366
4          1   1008         61.744868

In [57]:
class_items = class_items.sort_values(by=["class"])
pd.DataFrame.head(class_items)

      max_range  class
1002         31   1002
1003          4   1003
1004         39   1004
1005          1   1005
1006         12   1006

In [58]:
stores = np.unique(store_items['store_nbr'])
print(stores)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53 54]

In [149]:
range(len(stores))
#set the store
s=0

#filter the data
fm_agg_s=fm_agg[fm_agg.store_nbr==stores[s]]
store_max_range=store_items[store_items.store_nbr==stores[s]].no_items
decision_variables_no=len(np.array(fm_agg_s.sales_per_unit_m))
class_items_s=class_items[class_items['class'].isin(fm_agg_s['class'])]
pd.DataFrame.head(class_items_s)
class_items_s

      max_range  class  min_range
1002         31   1002          0
1003          4   1003          0
1004         39   1004          0
1006         12   1006          0
1008         12   1008          0

Create the LP Object

In [152]:
# create the LP object, set up as a maximization problem
prob = pulp.LpProblem('Macrospace', pulp.LpMaximize)

Create up the decision variables

In [153]:
# the number of items ranged for each classs
dec_var_dict={}
for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
    v='x_'+str(c)
    dec_var_dict[v]=pulp.LpVariable(v, lowBound=np.array(class_items_s.min_range)[c],upBound=np.array(class_items_s.max_range)[c], cat='Integer')
print(dec_var_dict)

{'x_0': x_0, 'x_1': x_1, 'x_2': x_2, 'x_3': x_3, 'x_4': x_4, 'x_5': x_5, 'x_6': x_6, 'x_7': x_7, 'x_8': x_8, 'x_9': x_9, 'x_10': x_10, 'x_11': x_11, 'x_12': x_12, 'x_13': x_13, 'x_14': x_14, 'x_15': x_15, 'x_16': x_16, 'x_17': x_17, 'x_18': x_18, 'x_19': x_19, 'x_20': x_20, 'x_21': x_21, 'x_22': x_22, 'x_23': x_23, 'x_24': x_24, 'x_25': x_25, 'x_26': x_26, 'x_27': x_27, 'x_28': x_28, 'x_29': x_29, 'x_30': x_30, 'x_31': x_31, 'x_32': x_32, 'x_33': x_33, 'x_34': x_34, 'x_35': x_35, 'x_36': x_36, 'x_37': x_37, 'x_38': x_38, 'x_39': x_39, 'x_40': x_40, 'x_41': x_41, 'x_42': x_42, 'x_43': x_43, 'x_44': x_44, 'x_45': x_45, 'x_46': x_46, 'x_47': x_47, 'x_48': x_48, 'x_49': x_49, 'x_50': x_50, 'x_51': x_51, 'x_52': x_52, 'x_53': x_53, 'x_54': x_54, 'x_55': x_55, 'x_56': x_56, 'x_57': x_57, 'x_58': x_58, 'x_59': x_59, 'x_60': x_60, 'x_61': x_61, 'x_62': x_62, 'x_63': x_63, 'x_64': x_64, 'x_65': x_65, 'x_66': x_66, 'x_67': x_67, 'x_68': x_68, 'x_69': x_69, 'x_70': x_70, 'x_71': x_71, 'x_72': x_72, 'x_73': x_73, 'x_74': x_74, 'x_75': x_75, 'x_76': x_76, 'x_77': x_77, 'x_78': x_78, 'x_79': x_79, 'x_80': x_80, 'x_81': x_81, 'x_82': x_82, 'x_83': x_83, 'x_84': x_84, 'x_85': x_85, 'x_86': x_86, 'x_87': x_87, 'x_88': x_88, 'x_89': x_89, 'x_90': x_90, 'x_91': x_91, 'x_92': x_92, 'x_93': x_93, 'x_94': x_94, 'x_95': x_95, 'x_96': x_96, 'x_97': x_97, 'x_98': x_98, 'x_99': x_99, 'x_100': x_100, 'x_101': x_101, 'x_102': x_102, 'x_103': x_103, 'x_104': x_104, 'x_105': x_105, 'x_106': x_106, 'x_107': x_107, 'x_108': x_108, 'x_109': x_109, 'x_110': x_110, 'x_111': x_111, 'x_112': x_112, 'x_113': x_113, 'x_114': x_114, 'x_115': x_115, 'x_116': x_116, 'x_117': x_117, 'x_118': x_118, 'x_119': x_119, 'x_120': x_120, 'x_121': x_121, 'x_122': x_122, 'x_123': x_123, 'x_124': x_124, 'x_125': x_125, 'x_126': x_126, 'x_127': x_127, 'x_128': x_128, 'x_129': x_129, 'x_130': x_130, 'x_131': x_131, 'x_132': x_132, 'x_133': x_133, 'x_134': x_134, 'x_135': x_135, 'x_136': x_136, 'x_137': x_137, 'x_138': x_138, 'x_139': x_139, 'x_140': x_140, 'x_141': x_141, 'x_142': x_142, 'x_143': x_143, 'x_144': x_144, 'x_145': x_145, 'x_146': x_146, 'x_147': x_147, 'x_148': x_148, 'x_149': x_149, 'x_150': x_150, 'x_151': x_151, 'x_152': x_152, 'x_153': x_153, 'x_154': x_154, 'x_155': x_155, 'x_156': x_156, 'x_157': x_157, 'x_158': x_158, 'x_159': x_159, 'x_160': x_160, 'x_161': x_161, 'x_162': x_162, 'x_163': x_163, 'x_164': x_164, 'x_165': x_165, 'x_166': x_166, 'x_167': x_167, 'x_168': x_168, 'x_169': x_169, 'x_170': x_170, 'x_171': x_171, 'x_172': x_172, 'x_173': x_173, 'x_174': x_174, 'x_175': x_175, 'x_176': x_176, 'x_177': x_177, 'x_178': x_178, 'x_179': x_179, 'x_180': x_180, 'x_181': x_181, 'x_182': x_182, 'x_183': x_183, 'x_184': x_184, 'x_185': x_185, 'x_186': x_186, 'x_187': x_187, 'x_188': x_188, 'x_189': x_189, 'x_190': x_190, 'x_191': x_191, 'x_192': x_192, 'x_193': x_193, 'x_194': x_194, 'x_195': x_195, 'x_196': x_196, 'x_197': x_197, 'x_198': x_198, 'x_199': x_199, 'x_200': x_200, 'x_201': x_201, 'x_202': x_202, 'x_203': x_203, 'x_204': x_204, 'x_205': x_205, 'x_206': x_206, 'x_207': x_207, 'x_208': x_208, 'x_209': x_209, 'x_210': x_210, 'x_211': x_211, 'x_212': x_212, 'x_213': x_213, 'x_214': x_214, 'x_215': x_215, 'x_216': x_216, 'x_217': x_217, 'x_218': x_218, 'x_219': x_219, 'x_220': x_220, 'x_221': x_221, 'x_222': x_222, 'x_223': x_223, 'x_224': x_224, 'x_225': x_225, 'x_226': x_226, 'x_227': x_227, 'x_228': x_228, 'x_229': x_229, 'x_230': x_230, 'x_231': x_231, 'x_232': x_232, 'x_233': x_233, 'x_234': x_234, 'x_235': x_235, 'x_236': x_236, 'x_237': x_237, 'x_238': x_238, 'x_239': x_239, 'x_240': x_240, 'x_241': x_241, 'x_242': x_242, 'x_243': x_243, 'x_244': x_244, 'x_245': x_245, 'x_246': x_246, 'x_247': x_247, 'x_248': x_248, 'x_249': x_249, 'x_250': x_250, 'x_251': x_251, 'x_252': x_252, 'x_253': x_253, 'x_254': x_254, 'x_255': x_255, 'x_256': x_256, 'x_257': x_257, 'x_258': x_258, 'x_259': x_259, 'x_260': x_260, 'x_261': x_261, 'x_262': x_262, 'x_263': x_263, 'x_264': x_264, 'x_265': x_265, 'x_266': x_266, 'x_267': x_267, 'x_268': x_268, 'x_269': x_269, 'x_270': x_270, 'x_271': x_271, 'x_272': x_272, 'x_273': x_273, 'x_274': x_274, 'x_275': x_275, 'x_276': x_276, 'x_277': x_277, 'x_278': x_278, 'x_279': x_279, 'x_280': x_280, 'x_281': x_281, 'x_282': x_282, 'x_283': x_283, 'x_284': x_284, 'x_285': x_285, 'x_286': x_286, 'x_287': x_287, 'x_288': x_288}

Add the objective function

In [154]:
# maximize sales
sales=0.0
for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
    sales=sales+dec_var_dict['x_'+str(c)]*np.array(fm_agg_s.sales_per_unit_m)[c]
prob += sales  # here's where we actually add it to the obj function

Add the constraints

In [155]:
# maximum items ranged in a store
store_range=0.0
for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
    store_range=store_range + dec_var_dict['x_'+str(c)]
prob += (store_range <= store_max_range)

Vizualize the problem

In [156]:
print(prob)

Macrospace:
MAXIMIZE
62.648734773*x_0 + 90.6861164597*x_1 + 262.348861548*x_10 + 315.300916988*x_100 + 777.461451038*x_101 + 715.645318629*x_102 + 251.779208332*x_103 + 267.543826142*x_104 + 256.464596532*x_105 + 1788.41858633*x_106 + 41.5288005313*x_107 + 185.215205974*x_108 + 401.300211861*x_109 + 58.1095415088*x_11 + 357.320481821*x_110 + 274.711560149*x_111 + 344.489074012*x_112 + 124.986427057*x_113 + 95.7693904523*x_114 + 228.852623453*x_115 + 53.8013565408*x_116 + 82.1017164232*x_117 + 156.829290119*x_118 + 204.992837498*x_119 + 11.4519923302*x_12 + 56.0979885321*x_120 + 190.075407422*x_121 + 51.4140885514*x_122 + 134.835960083*x_123 + 138.282186945*x_124 + 195.428472659*x_125 + 115.753921761*x_126 + 90.3116551987*x_127 + 52.7422670018*x_128 + 100.4856024*x_129 + 68.5888520946*x_13 + 53.512072691*x_130 + 109.823665059*x_131 + 31.097170352*x_132 + 89.0248996367*x_133 + 120.794092989*x_134 + 112.970116885*x_135 + 335.910877421*x_136 + 38.2620023608*x_137 + 68.9595440876*x_138 + 58.4093429315*x_139 + 11.6550835931*x_14 + 74.2148187147*x_140 + 110.757877421*x_141 + 68.2536246987*x_142 + 412.947645469*x_143 + 123.035442777*x_144 + 6.48781758557*x_145 + 745.627544088*x_146 + 277.561608291*x_147 + 149.477447329*x_148 + 135.456809721*x_149 + 121.00992311*x_15 + 162.796046889*x_150 + 38.6992601199*x_151 + 409.63848551*x_152 + 211.834634626*x_153 + 165.557657448*x_154 + 50.4917126035*x_155 + 107.74629903*x_156 + 86.6202177711*x_157 + 101.291456503*x_158 + 95.3290020583*x_159 + 9.61554344197*x_16 + 35.648683154*x_160 + 70.9852473858*x_161 + 90.0363291527*x_162 + 74.0401681396*x_163 + 142.041004695*x_164 + 112.739460713*x_165 + 63.1208094823*x_166 + 58.7571046627*x_167 + 9.0555563202*x_168 + 79.0094325906*x_169 + 67.1402699244*x_17 + 222.263326675*x_170 + 68.8902296222*x_171 + 151.718431078*x_172 + 86.4068750344*x_173 + 115.416734564*x_174 + 76.5427345638*x_175 + 103.229071688*x_176 + 89.7814216386*x_177 + 117.426508052*x_178 + 479.195529643*x_179 + 71.5162466534*x_18 + 571.123307785*x_180 + 179.048729663*x_181 + 140.37298822*x_182 + 99.7520177905*x_183 + 179.435869036*x_184 + 39.6558168141*x_185 + 631.498235363*x_186 + 352.965095108*x_187 + 271.04302354*x_188 + 268.081591098*x_189 + 3.72629930522*x_19 + 175.988253307*x_190 + 199.487033275*x_191 + 78.4670931054*x_192 + 19.1398592363*x_193 + 36.0710319578*x_194 + 80.6148639159*x_195 + 29.5083644662*x_196 + 33.011680681*x_197 + 84.9113403839*x_198 + 35.9696469716*x_199 + 139.927814372*x_2 + 89.6246603439*x_20 + 68.1553044476*x_200 + 63.9446150839*x_201 + 62.7852608405*x_202 + 59.8716386242*x_203 + 115.506698452*x_204 + 186.234141468*x_205 + 50.9643580382*x_206 + 2.4012617313*x_207 + 22.8444458984*x_208 + 69.3013404216*x_209 + 125.229068244*x_21 + 75.9056464627*x_210 + 2.65652700997*x_211 + 242.245431919*x_212 + 74.6976191407*x_213 + 81.2016037502*x_214 + 102.501913732*x_215 + 14.538620365*x_216 + 58.9043143159*x_217 + 13.0495068362*x_218 + 70.9789326927*x_219 + 85.2458053449*x_22 + 109.483909892*x_220 + 68.5694994656*x_221 + 54.8189782533*x_222 + 9.51393295376*x_223 + 7.48938187765*x_224 + 106.77258401*x_225 + 38.2675385561*x_226 + 16.2489730054*x_227 + 73.524375511*x_228 + 33.8718059472*x_229 + 92.4828742507*x_23 + 32.8776985278*x_230 + 10.8085308138*x_231 + 0.63330670591*x_232 + 5.8750692533*x_233 + 59.9666082189*x_234 + 9.21129438293*x_235 + 42.2611428392*x_236 + 8.3203525433*x_237 + 17.4546961643*x_238 + 2.24321519083*x_239 + 92.3021973315*x_24 + 75.9834335353*x_240 + 22.1728308427*x_241 + 5.20877092032*x_242 + 4.2017725437*x_243 + 47.5142801081*x_244 + 35.5992178309*x_245 + 41.151646208*x_246 + 37.2364899706*x_247 + 8.9464618483*x_248 + 45.7127212986*x_249 + 118.743445325*x_25 + 28.1935044916*x_250 + 27.4212523489*x_251 + 24.9683965844*x_252 + 19.4080506008*x_253 + 2.83684782134*x_254 + 1.26741758557*x_255 + 67.9149161747*x_256 + 14.1479134742*x_257 + 58.1923346448*x_258 + 19.2454052626*x_259 + 100.615748337*x_26 + 2.47473992293*x_260 + 36.6419171372*x_261 + 30.1017868583*x_262 + 17.1597047065*x_263 + 4.56588912034*x_264 + 6.77649985175*x_265 + 30.9541476014*x_266 + 44.3759593733*x_267 + 40.5065649505*x_268 + 29.0915919234*x_269 + 97.1002950404*x_27 + 210.205333326*x_270 + 2.86167585568*x_271 + 7.01963002751*x_272 + 18.9980994724*x_273 + 39.6322547204*x_274 + 26.7707803319*x_275 + 24.7663612329*x_276 + 25.1880004268*x_277 + 13.7817061887*x_278 + 14.0896549765*x_279 + 144.978881893*x_28 + 22.0133376325*x_280 + 23.3167299826*x_281 + 106.482785517*x_282 + 87.5396390456*x_283 + 56.7675558232*x_284 + 4.14213753793*x_285 + 20.6886346796*x_286 + 58.9914490027*x_287 + 45.3438113019*x_288 + 104.091852862*x_29 + 33.001365695*x_3 + 86.634956786*x_30 + 61.0734885321*x_31 + 119.184265707*x_32 + 70.366403148*x_33 + 95.6575797926*x_34 + 87.4221448202*x_35 + 71.9035712002*x_36 + 14.7298749596*x_37 + 81.4766551987*x_38 + 12.7240858971*x_39 + 61.7448678955*x_4 + 70.608940913*x_40 + 87.3562515706*x_41 + 167.403719965*x_42 + 122.337092477*x_43 + 4.50532270007*x_44 + 119.737097617*x_45 + 191.781404567*x_46 + 152.639205463*x_47 + 1.73408425224*x_48 + 228.22376631*x_49 + 120.445918266*x_5 + 61.0545440876*x_50 + 64.0137792321*x_51 + 69.5366525532*x_52 + 15.6176598741*x_53 + 129.066487515*x_54 + 0.611277234691*x_55 + 79.8484102215*x_56 + 30.7721559843*x_57 + 77.6538959395*x_58 + 92.6959745558*x_59 + 127.899893294*x_6 + 137.64287786*x_60 + 60.176251933*x_61 + 123.238297112*x_62 + 179.941001369*x_63 + 285.60143896*x_64 + 233.540943729*x_65 + 134.709152877*x_66 + 92.9496533857*x_67 + 77.792243008*x_68 + 131.423007304*x_69 + 81.7003666085*x_7 + 173.24944885*x_70 + 107.063101159*x_71 + 387.371569976*x_72 + 77.4229170206*x_73 + 375.283188221*x_74 + 8.44795893245*x_75 + 173.427893492*x_76 + 3.98371595006*x_77 + 0.316653352955*x_78 + 12.5863676083*x_79 + 201.007045583*x_8 + 88.1060171456*x_80 + 124.029403876*x_81 + 12.3481142473*x_82 + 4.99646285654*x_83 + 6.28625770079*x_84 + 24.1374220016*x_85 + 6.11831101469*x_86 + 161.524653788*x_87 + 10.6977615578*x_88 + 3.05113353563*x_89 + 141.846571088*x_9 + 78.5194409149*x_90 + 1.85278137548*x_91 + 13.0930995972*x_92 + 21.5374788285*x_93 + 8.38952857886*x_94 + 180.75021532*x_95 + 292.929385495*x_96 + 488.878565729*x_97 + 359.51806817*x_98 + 290.699061696*x_99 + 0.0
SUBJECT TO
_C1: x_0 + x_1 + x_10 + x_100 + x_101 + x_102 + x_103 + x_104 + x_105 + x_106
 + x_107 + x_108 + x_109 + x_11 + x_110 + x_111 + x_112 + x_113 + x_114
 + x_115 + x_116 + x_117 + x_118 + x_119 + x_12 + x_120 + x_121 + x_122
 + x_123 + x_124 + x_125 + x_126 + x_127 + x_128 + x_129 + x_13 + x_130
 + x_131 + x_132 + x_133 + x_134 + x_135 + x_136 + x_137 + x_138 + x_139
 + x_14 + x_140 + x_141 + x_142 + x_143 + x_144 + x_145 + x_146 + x_147
 + x_148 + x_149 + x_15 + x_150 + x_151 + x_152 + x_153 + x_154 + x_155
 + x_156 + x_157 + x_158 + x_159 + x_16 + x_160 + x_161 + x_162 + x_163
 + x_164 + x_165 + x_166 + x_167 + x_168 + x_169 + x_17 + x_170 + x_171
 + x_172 + x_173 + x_174 + x_175 + x_176 + x_177 + x_178 + x_179 + x_18
 + x_180 + x_181 + x_182 + x_183 + x_184 + x_185 + x_186 + x_187 + x_188
 + x_189 + x_19 + x_190 + x_191 + x_192 + x_193 + x_194 + x_195 + x_196
 + x_197 + x_198 + x_199 + x_2 + x_20 + x_200 + x_201 + x_202 + x_203 + x_204
 + x_205 + x_206 + x_207 + x_208 + x_209 + x_21 + x_210 + x_211 + x_212
 + x_213 + x_214 + x_215 + x_216 + x_217 + x_218 + x_219 + x_22 + x_220
 + x_221 + x_222 + x_223 + x_224 + x_225 + x_226 + x_227 + x_228 + x_229
 + x_23 + x_230 + x_231 + x_232 + x_233 + x_234 + x_235 + x_236 + x_237
 + x_238 + x_239 + x_24 + x_240 + x_241 + x_242 + x_243 + x_244 + x_245
 + x_246 + x_247 + x_248 + x_249 + x_25 + x_250 + x_251 + x_252 + x_253
 + x_254 + x_255 + x_256 + x_257 + x_258 + x_259 + x_26 + x_260 + x_261
 + x_262 + x_263 + x_264 + x_265 + x_266 + x_267 + x_268 + x_269 + x_27
 + x_270 + x_271 + x_272 + x_273 + x_274 + x_275 + x_276 + x_277 + x_278
 + x_279 + x_28 + x_280 + x_281 + x_282 + x_283 + x_284 + x_285 + x_286
 + x_287 + x_288 + x_29 + x_3 + x_30 + x_31 + x_32 + x_33 + x_34 + x_35 + x_36
 + x_37 + x_38 + x_39 + x_4 + x_40 + x_41 + x_42 + x_43 + x_44 + x_45 + x_46
 + x_47 + x_48 + x_49 + x_5 + x_50 + x_51 + x_52 + x_53 + x_54 + x_55 + x_56
 + x_57 + x_58 + x_59 + x_6 + x_60 + x_61 + x_62 + x_63 + x_64 + x_65 + x_66
 + x_67 + x_68 + x_69 + x_7 + x_70 + x_71 + x_72 + x_73 + x_74 + x_75 + x_76
 + x_77 + x_78 + x_79 + x_8 + x_80 + x_81 + x_82 + x_83 + x_84 + x_85 + x_86
 + x_87 + x_88 + x_89 + x_9 + x_90 + x_91 + x_92 + x_93 + x_94 + x_95 + x_96
 + x_97 + x_98 + x_99 <= 2295

VARIABLES
0 <= x_0 <= 31 Integer
0 <= x_1 <= 4 Integer
0 <= x_10 <= 9 Integer
0 <= x_100 <= 8 Integer
0 <= x_101 <= 15 Integer
0 <= x_102 <= 14 Integer
0 <= x_103 <= 27 Integer
0 <= x_104 <= 31 Integer
0 <= x_105 <= 14 Integer
0 <= x_106 <= 8 Integer
0 <= x_107 <= 1 Integer
0 <= x_108 <= 17 Integer
0 <= x_109 <= 33 Integer
0 <= x_11 <= 4 Integer
0 <= x_110 <= 9 Integer
0 <= x_111 <= 19 Integer
0 <= x_112 <= 7 Integer
0 <= x_113 <= 1 Integer
0 <= x_114 <= 2 Integer
0 <= x_115 <= 9 Integer
0 <= x_116 <= 1 Integer
0 <= x_117 <= 6 Integer
0 <= x_118 <= 8 Integer
0 <= x_119 <= 11 Integer
0 <= x_12 <= 2 Integer
0 <= x_120 <= 5 Integer
0 <= x_121 <= 30 Integer
0 <= x_122 <= 1 Integer
0 <= x_123 <= 25 Integer
0 <= x_124 <= 10 Integer
0 <= x_125 <= 10 Integer
0 <= x_126 <= 9 Integer
0 <= x_127 <= 6 Integer
0 <= x_128 <= 2 Integer
0 <= x_129 <= 16 Integer
0 <= x_13 <= 54 Integer
0 <= x_130 <= 7 Integer
0 <= x_131 <= 18 Integer
0 <= x_132 <= 4 Integer
0 <= x_133 <= 21 Integer
0 <= x_134 <= 18 Integer
0 <= x_135 <= 20 Integer
0 <= x_136 <= 5 Integer
0 <= x_137 <= 3 Integer
0 <= x_138 <= 6 Integer
0 <= x_139 <= 1 Integer
0 <= x_14 <= 2 Integer
0 <= x_140 <= 7 Integer
0 <= x_141 <= 6 Integer
0 <= x_142 <= 4 Integer
0 <= x_143 <= 11 Integer
0 <= x_144 <= 11 Integer
0 <= x_145 <= 1 Integer
0 <= x_146 <= 4 Integer
0 <= x_147 <= 59 Integer
0 <= x_148 <= 9 Integer
0 <= x_149 <= 13 Integer
0 <= x_15 <= 48 Integer
0 <= x_150 <= 2 Integer
0 <= x_151 <= 1 Integer
0 <= x_152 <= 17 Integer
0 <= x_153 <= 36 Integer
0 <= x_154 <= 36 Integer
0 <= x_155 <= 2 Integer
0 <= x_156 <= 3 Integer
0 <= x_157 <= 10 Integer
0 <= x_158 <= 16 Integer
0 <= x_159 <= 19 Integer
0 <= x_16 <= 1 Integer
0 <= x_160 <= 1 Integer
0 <= x_161 <= 2 Integer
0 <= x_162 <= 23 Integer
0 <= x_163 <= 2 Integer
0 <= x_164 <= 4 Integer
0 <= x_165 <= 4 Integer
0 <= x_166 <= 2 Integer
0 <= x_167 <= 4 Integer
0 <= x_168 <= 2 Integer
0 <= x_169 <= 2 Integer
0 <= x_17 <= 51 Integer
0 <= x_170 <= 14 Integer
0 <= x_171 <= 3 Integer
0 <= x_172 <= 24 Integer
0 <= x_173 <= 17 Integer
0 <= x_174 <= 9 Integer
0 <= x_175 <= 9 Integer
0 <= x_176 <= 22 Integer
0 <= x_177 <= 2 Integer
0 <= x_178 <= 4 Integer
0 <= x_179 <= 9 Integer
0 <= x_18 <= 65 Integer
0 <= x_180 <= 4 Integer
0 <= x_181 <= 2 Integer
0 <= x_182 <= 1 Integer
0 <= x_183 <= 2 Integer
0 <= x_184 <= 2 Integer
0 <= x_185 <= 1 Integer
0 <= x_186 <= 2 Integer
0 <= x_187 <= 2 Integer
0 <= x_188 <= 3 Integer
0 <= x_189 <= 5 Integer
0 <= x_19 <= 3 Integer
0 <= x_190 <= 2 Integer
0 <= x_191 <= 7 Integer
0 <= x_192 <= 27 Integer
0 <= x_193 <= 1 Integer
0 <= x_194 <= 2 Integer
0 <= x_195 <= 26 Integer
0 <= x_196 <= 4 Integer
0 <= x_197 <= 3 Integer
0 <= x_198 <= 17 Integer
0 <= x_199 <= 4 Integer
0 <= x_2 <= 39 Integer
0 <= x_20 <= 98 Integer
0 <= x_200 <= 19 Integer
0 <= x_201 <= 17 Integer
0 <= x_202 <= 60 Integer
0 <= x_203 <= 11 Integer
0 <= x_204 <= 17 Integer
0 <= x_205 <= 29 Integer
0 <= x_206 <= 10 Integer
0 <= x_207 <= 1 Integer
0 <= x_208 <= 10 Integer
0 <= x_209 <= 29 Integer
0 <= x_21 <= 6 Integer
0 <= x_210 <= 41 Integer
0 <= x_211 <= 1 Integer
0 <= x_212 <= 23 Integer
0 <= x_213 <= 28 Integer
0 <= x_214 <= 20 Integer
0 <= x_215 <= 35 Integer
0 <= x_216 <= 4 Integer
0 <= x_217 <= 7 Integer
0 <= x_218 <= 3 Integer
0 <= x_219 <= 4 Integer
0 <= x_22 <= 27 Integer
0 <= x_220 <= 53 Integer
0 <= x_221 <= 16 Integer
0 <= x_222 <= 31 Integer
0 <= x_223 <= 1 Integer
0 <= x_224 <= 5 Integer
0 <= x_225 <= 28 Integer
0 <= x_226 <= 19 Integer
0 <= x_227 <= 6 Integer
0 <= x_228 <= 40 Integer
0 <= x_229 <= 5 Integer
0 <= x_23 <= 4 Integer
0 <= x_230 <= 29 Integer
0 <= x_231 <= 1 Integer
0 <= x_232 <= 1 Integer
0 <= x_233 <= 4 Integer
0 <= x_234 <= 13 Integer
0 <= x_235 <= 2 Integer
0 <= x_236 <= 2 Integer
0 <= x_237 <= 5 Integer
0 <= x_238 <= 5 Integer
0 <= x_239 <= 1 Integer
0 <= x_24 <= 8 Integer
0 <= x_240 <= 2 Integer
0 <= x_241 <= 2 Integer
0 <= x_242 <= 1 Integer
0 <= x_243 <= 1 Integer
0 <= x_244 <= 3 Integer
0 <= x_245 <= 5 Integer
0 <= x_246 <= 22 Integer
0 <= x_247 <= 17 Integer
0 <= x_248 <= 1 Integer
0 <= x_249 <= 3 Integer
0 <= x_25 <= 110 Integer
0 <= x_250 <= 4 Integer
0 <= x_251 <= 3 Integer
0 <= x_252 <= 1 Integer
0 <= x_253 <= 2 Integer
0 <= x_254 <= 1 Integer
0 <= x_255 <= 1 Integer
0 <= x_256 <= 15 Integer
0 <= x_257 <= 4 Integer
0 <= x_258 <= 8 Integer
0 <= x_259 <= 5 Integer
0 <= x_26 <= 51 Integer
0 <= x_260 <= 1 Integer
0 <= x_261 <= 2 Integer
0 <= x_262 <= 2 Integer
0 <= x_263 <= 19 Integer
0 <= x_264 <= 1 Integer
0 <= x_265 <= 1 Integer
0 <= x_266 <= 3 Integer
0 <= x_267 <= 4 Integer
0 <= x_268 <= 8 Integer
0 <= x_269 <= 2 Integer
0 <= x_27 <= 30 Integer
0 <= x_270 <= 7 Integer
0 <= x_271 <= 4 Integer
0 <= x_272 <= 2 Integer
0 <= x_273 <= 7 Integer
0 <= x_274 <= 9 Integer
0 <= x_275 <= 5 Integer
0 <= x_276 <= 4 Integer
0 <= x_277 <= 5 Integer
0 <= x_278 <= 2 Integer
0 <= x_279 <= 6 Integer
0 <= x_28 <= 24 Integer
0 <= x_280 <= 5 Integer
0 <= x_281 <= 4 Integer
0 <= x_282 <= 8 Integer
0 <= x_283 <= 5 Integer
0 <= x_284 <= 4 Integer
0 <= x_285 <= 2 Integer
0 <= x_286 <= 4 Integer
0 <= x_287 <= 10 Integer
0 <= x_288 <= 21 Integer
0 <= x_29 <= 20 Integer
0 <= x_3 <= 12 Integer
0 <= x_30 <= 8 Integer
0 <= x_31 <= 11 Integer
0 <= x_32 <= 2 Integer
0 <= x_33 <= 9 Integer
0 <= x_34 <= 16 Integer
0 <= x_35 <= 19 Integer
0 <= x_36 <= 30 Integer
0 <= x_37 <= 2 Integer
0 <= x_38 <= 5 Integer
0 <= x_39 <= 2 Integer
0 <= x_4 <= 12 Integer
0 <= x_40 <= 22 Integer
0 <= x_41 <= 4 Integer
0 <= x_42 <= 70 Integer
0 <= x_43 <= 39 Integer
0 <= x_44 <= 2 Integer
0 <= x_45 <= 23 Integer
0 <= x_46 <= 3 Integer
0 <= x_47 <= 12 Integer
0 <= x_48 <= 1 Integer
0 <= x_49 <= 10 Integer
0 <= x_5 <= 22 Integer
0 <= x_50 <= 7 Integer
0 <= x_51 <= 20 Integer
0 <= x_52 <= 17 Integer
0 <= x_53 <= 3 Integer
0 <= x_54 <= 17 Integer
0 <= x_55 <= 1 Integer
0 <= x_56 <= 19 Integer
0 <= x_57 <= 5 Integer
0 <= x_58 <= 15 Integer
0 <= x_59 <= 18 Integer
0 <= x_6 <= 10 Integer
0 <= x_60 <= 42 Integer
0 <= x_61 <= 2 Integer
0 <= x_62 <= 18 Integer
0 <= x_63 <= 26 Integer
0 <= x_64 <= 61 Integer
0 <= x_65 <= 81 Integer
0 <= x_66 <= 100 Integer
0 <= x_67 <= 36 Integer
0 <= x_68 <= 21 Integer
0 <= x_69 <= 27 Integer
0 <= x_7 <= 2 Integer
0 <= x_70 <= 9 Integer
0 <= x_71 <= 37 Integer
0 <= x_72 <= 35 Integer
0 <= x_73 <= 7 Integer
0 <= x_74 <= 62 Integer
0 <= x_75 <= 1 Integer
0 <= x_76 <= 4 Integer
0 <= x_77 <= 1 Integer
0 <= x_78 <= 2 Integer
0 <= x_79 <= 1 Integer
0 <= x_8 <= 26 Integer
0 <= x_80 <= 40 Integer
0 <= x_81 <= 14 Integer
0 <= x_82 <= 2 Integer
0 <= x_83 <= 4 Integer
0 <= x_84 <= 2 Integer
0 <= x_85 <= 2 Integer
0 <= x_86 <= 1 Integer
0 <= x_87 <= 32 Integer
0 <= x_88 <= 2 Integer
0 <= x_89 <= 2 Integer
0 <= x_9 <= 133 Integer
0 <= x_90 <= 8 Integer
0 <= x_91 <= 1 Integer
0 <= x_92 <= 3 Integer
0 <= x_93 <= 2 Integer
0 <= x_94 <= 1 Integer
0 <= x_95 <= 4 Integer
0 <= x_96 <= 9 Integer
0 <= x_97 <= 16 Integer
0 <= x_98 <= 41 Integer
0 <= x_99 <= 34 Integer

Solve the LP

In [157]:
# solve the LP using the default solver
optimization_result = prob.solve()

# make sure we got an optimal solution
assert optimization_result == pulp.LpStatusOptimal

In [158]:
for v in prob.variables():
    c_name=pd.to_numeric(v.name[2:])
    print(c_name, "=", v.varValue)

0 = 0.0
1 = 0.0
10 = 9.0
100 = 8.0
101 = 15.0
102 = 14.0
103 = 27.0
104 = 31.0
105 = 14.0
106 = 8.0
107 = 0.0
108 = 17.0
109 = 33.0
11 = 0.0
110 = 9.0
111 = 19.0
112 = 7.0
113 = 1.0
114 = 2.0
115 = 9.0
116 = 0.0
117 = 0.0
118 = 8.0
119 = 11.0
12 = 0.0
120 = 0.0
121 = 30.0
122 = 0.0
123 = 25.0
124 = 10.0
125 = 10.0
126 = 9.0
127 = 0.0
128 = 0.0
129 = 16.0
13 = 0.0
130 = 0.0
131 = 18.0
132 = 0.0
133 = 0.0
134 = 18.0
135 = 20.0
136 = 5.0
137 = 0.0
138 = 0.0
139 = 0.0
14 = 0.0
140 = 0.0
141 = 6.0
142 = 0.0
143 = 11.0
144 = 11.0
145 = 0.0
146 = 4.0
147 = 59.0
148 = 9.0
149 = 13.0
15 = 48.0
150 = 2.0
151 = 0.0
152 = 17.0
153 = 36.0
154 = 36.0
155 = 0.0
156 = 3.0
157 = 0.0
158 = 16.0
159 = 0.0
16 = 0.0
160 = 0.0
161 = 0.0
162 = 0.0
163 = 0.0
164 = 4.0
165 = 4.0
166 = 0.0
167 = 0.0
168 = 0.0
169 = 0.0
17 = 0.0
170 = 14.0
171 = 0.0
172 = 24.0
173 = 0.0
174 = 9.0
175 = 0.0
176 = 22.0
177 = 0.0
178 = 4.0
179 = 9.0
18 = 0.0
180 = 4.0
181 = 2.0
182 = 1.0
183 = 2.0
184 = 2.0
185 = 0.0
186 = 2.0
187 = 2.0
188 = 3.0
189 = 5.0
19 = 0.0
190 = 2.0
191 = 7.0
192 = 0.0
193 = 0.0
194 = 0.0
195 = 0.0
196 = 0.0
197 = 0.0
198 = 0.0
199 = 0.0
2 = 39.0
20 = 0.0
200 = 0.0
201 = 0.0
202 = 0.0
203 = 0.0
204 = 17.0
205 = 29.0
206 = 0.0
207 = 0.0
208 = 0.0
209 = 0.0
21 = 6.0
210 = 0.0
211 = 0.0
212 = 23.0
213 = 0.0
214 = 0.0
215 = 35.0
216 = 0.0
217 = 0.0
218 = 0.0
219 = 0.0
22 = 0.0
220 = 53.0
221 = 0.0
222 = 0.0
223 = 0.0
224 = 0.0
225 = 28.0
226 = 0.0
227 = 0.0
228 = 0.0
229 = 0.0
23 = 0.0
230 = 0.0
231 = 0.0
232 = 0.0
233 = 0.0
234 = 0.0
235 = 0.0
236 = 0.0
237 = 0.0
238 = 0.0
239 = 0.0
24 = 0.0
240 = 0.0
241 = 0.0
242 = 0.0
243 = 0.0
244 = 0.0
245 = 0.0
246 = 0.0
247 = 0.0
248 = 0.0
249 = 0.0
25 = 110.0
250 = 0.0
251 = 0.0
252 = 0.0
253 = 0.0
254 = 0.0
255 = 0.0
256 = 0.0
257 = 0.0
258 = 0.0
259 = 0.0
26 = 51.0
260 = 0.0
261 = 0.0
262 = 0.0
263 = 0.0
264 = 0.0
265 = 0.0
266 = 0.0
267 = 0.0
268 = 0.0
269 = 0.0
27 = 30.0
270 = 7.0
271 = 0.0
272 = 0.0
273 = 0.0
274 = 0.0
275 = 0.0
276 = 0.0
277 = 0.0
278 = 0.0
279 = 0.0
28 = 24.0
280 = 0.0
281 = 0.0
282 = 8.0
283 = 0.0
284 = 0.0
285 = 0.0
286 = 0.0
287 = 0.0
288 = 0.0
29 = 20.0
3 = 0.0
30 = 0.0
31 = 0.0
32 = 2.0
33 = 0.0
34 = 0.0
35 = 0.0
36 = 0.0
37 = 0.0
38 = 0.0
39 = 0.0
4 = 0.0
40 = 0.0
41 = 0.0
42 = 70.0
43 = 39.0
44 = 0.0
45 = 23.0
46 = 3.0
47 = 12.0
48 = 0.0
49 = 10.0
5 = 22.0
50 = 0.0
51 = 0.0
52 = 0.0
53 = 0.0
54 = 17.0
55 = 0.0
56 = 0.0
57 = 0.0
58 = 0.0
59 = 0.0
6 = 10.0
60 = 42.0
61 = 0.0
62 = 18.0
63 = 26.0
64 = 61.0
65 = 81.0
66 = 100.0
67 = 0.0
68 = 0.0
69 = 27.0
7 = 0.0
70 = 9.0
71 = 37.0
72 = 35.0
73 = 0.0
74 = 62.0
75 = 0.0
76 = 4.0
77 = 0.0
78 = 0.0
79 = 0.0
8 = 26.0
80 = 0.0
81 = 14.0
82 = 0.0
83 = 0.0
84 = 0.0
85 = 0.0
86 = 0.0
87 = 32.0
88 = 0.0
89 = 0.0
9 = 133.0
90 = 0.0
91 = 0.0
92 = 0.0
93 = 0.0
94 = 0.0
95 = 4.0
96 = 9.0
97 = 16.0
98 = 41.0
99 = 34.0

In [159]:
#store the results in a data frame
store_class_opt_res=fm_agg_s
store_class_opt_res['c']=range(len(np.array(fm_agg_s.sales_per_unit_m)))
store_class_opt_res['op_rez']=0.0
pd.DataFrame.head(store_class_opt_res)
for v in prob.variables():
    c_name=pd.to_numeric(v.name[2:])
    store_class_opt_res.iloc[c_name,4]=v.varValue
pd.DataFrame.head(store_class_opt_res)

C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

   store_nbr  class  sales_per_unit_m  c  op_rez
0          1   1002         62.648735  0     0.0
1          1   1003         90.686116  1     0.0
2          1   1004        139.927814  2    39.0
3          1   1006         33.001366  3     0.0
4          1   1008         61.744868  4     0.0

In [162]:
store_class_opt_res=pd.merge(store_class_opt_res,class_items,on='class',how='left')
s=1
if s==0:
    master_store_class_opt_res=store_class_opt_res
else: 
    master_store_class_opt_res=pd.concat([master_store_class_opt_res,store_class_opt_res])
# save the results
store_class_opt_res.to_csv('store_class_opt_res'+ str((store_class_opt_res.store_nbr).unique()) +'.csv',sep=',')
master_store_class_opt_res.to_csv('master_store_class_opt_res.csv',sep=',')

### Write the LP model in a loop over stores

In [164]:
for s in range(len(stores)):
    #filter the data
    fm_agg_s=fm_agg[fm_agg.store_nbr==stores[s]]
    store_max_range=store_items[store_items.store_nbr==stores[s]].no_items
    decision_variables_no=len(np.array(fm_agg_s.sales_per_unit_m))
    class_items_s=class_items[class_items['class'].isin(fm_agg_s['class'])]
    
    # create the LP object, set up as a maximization problem
    prob = pulp.LpProblem('Macrospace', pulp.LpMaximize)
    
    # decision variables: the number of items ranged for each classs
    dec_var_dict={}
    for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
        v='x_'+str(c)
        dec_var_dict[v]=pulp.LpVariable(v, lowBound=np.array(class_items_s.min_range)[c],upBound=np.array(class_items_s.max_range)[c], cat='Integer')
    
    # objective_function:maximize sales
    sales=0.0
    for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
        sales=sales+dec_var_dict['x_'+str(c)]*np.array(fm_agg_s.sales_per_unit_m)[c]
    prob += sales  # here's where we actually add it to the obj function
    
    # constraints:maximum items ranged in a store
    store_range=0.0
    for c in range(len(np.array(fm_agg_s.sales_per_unit_m))):
        store_range=store_range + dec_var_dict['x_'+str(c)]
    prob += (store_range <= store_max_range)
    
    # solve the LP using the default solver
    optimization_result = prob.solve()

    # make sure we got an optimal solution
    assert optimization_result == pulp.LpStatusOptimal
    
    #store the results in a data frame
    store_class_opt_res=fm_agg_s
    store_class_opt_res['c']=range(len(np.array(fm_agg_s.sales_per_unit_m)))
    store_class_opt_res['op_rez']=0.0
    pd.DataFrame.head(store_class_opt_res)
    for v in prob.variables():
        c_name=pd.to_numeric(v.name[2:])
        store_class_opt_res.iloc[c_name,4]=v.varValue
    pd.DataFrame.head(store_class_opt_res)
    
    #add the max range for class for checking
    store_class_opt_res=pd.merge(store_class_opt_res,class_items,on='class',how='left')
    
    #create a master df
    if s==0:
        master_store_class_opt_res=store_class_opt_res
    else: 
        master_store_class_opt_res=pd.concat([master_store_class_opt_res,store_class_opt_res])
        
    #write to csv
    store_class_opt_res.to_csv('store_class_opt_res'+ str((store_class_opt_res.store_nbr).unique()) +'.csv',sep=',')
    master_store_class_opt_res.to_csv('master_store_class_opt_res.csv',sep=',')

C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\laura.varsandan\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

## Calculate how many products were ranged for May 2017

In [165]:
dtypes={'id': np.int64,'date':np.str,'store_nbr':np.int64,'item_nbr':np.int64,'unit_sales': np.float64,'onpromotion':np.float64}
parse_dates=['date']
train = pd.read_csv('train.csv', dtype=dtypes,parse_dates=parse_dates) # opens the csv file
print("Rows and columns:",train.shape)
pd.DataFrame.head(train)

Rows and columns: (125497040, 6)

   id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0          NaN
1   1 2013-01-01         25    105574         1.0          NaN
2   2 2013-01-01         25    105575         2.0          NaN
3   3 2013-01-01         25    108079         1.0          NaN
4   4 2013-01-01         25    108701         1.0          NaN

In [166]:
dtypes={'item_nbr': np.int64,'family':np.str,'class':np.int64,'perishable':np.int64}
items = pd.read_csv('items.csv',dtype=dtypes) # opens the csv file
print("Rows and columns:",items.shape)
pd.DataFrame.head(items)

Rows and columns: (4100, 4)

   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [169]:
train['month_year']=100*train['date'].dt.year+train['date'].dt.month

In [170]:
train_may=train[train['month_year']==201705]
print("Rows and columns:",train_may.shape)
pd.DataFrame.head(train_may)

Rows and columns: (3301627, 7)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,month_year
114176250,114176250,2017-05-01,1,103520,1.0,0.0,201705
114176251,114176251,2017-05-01,1,105574,4.0,0.0,201705
114176252,114176252,2017-05-01,1,105575,4.0,0.0,201705
114176253,114176253,2017-05-01,1,106716,1.0,0.0,201705
114176254,114176254,2017-05-01,1,108696,4.0,0.0,201705

In [171]:
merged_may=pd.merge(train_may,items,on='item_nbr', how='left')
print("Rows and columns:",merged_may.shape)
pd.DataFrame.head(merged_may)

Rows and columns: (3301627, 10)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,month_year,family,class,perishable
0,114176250,2017-05-01,1,103520,1.0,0.0,201705,GROCERY I,1028,0
1,114176251,2017-05-01,1,105574,4.0,0.0,201705,GROCERY I,1045,0
2,114176252,2017-05-01,1,105575,4.0,0.0,201705,GROCERY I,1045,0
3,114176253,2017-05-01,1,106716,1.0,0.0,201705,GROCERY I,1032,0
4,114176254,2017-05-01,1,108696,4.0,0.0,201705,DELI,2636,1

In [199]:
group=merged_may.groupby(['store_nbr','class'])
may_store_class_items=pd.DataFrame(group['item_nbr'].agg('nunique'))
may_store_class_items['store_nbr']=may_store_class_items.index.get_level_values('store_nbr')
may_store_class_items['class']=may_store_class_items.index.get_level_values('class')
may_store_class_items.columns=['ranged_items','store_nbr','class']
pd.DataFrame.head(may_store_class_items)

                 ranged_items  store_nbr  class
store_nbr class
1         1002             25          1   1002
          1003              2          1   1003
          1004             30          1   1004
          1006              3          1   1006
          1008             10          1   1008

In [200]:
may_store_class_items.to_csv('may_store_class_items.csv',sep=',',index=False)